<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <header class="p-3 bg-dark text-white">
        <div class="row">
            <div class="col-12 text-center">
                <div class="row align-items-center">
                    <div class="custom-col-11-5 text-end">
                        <a href="{% url 'main:home_page' %}">
                            <img src="{% static 'img/django_logo.png' %}" alt="Логотип" class="logo-image mr-3">
                        </a>
                    </div>
                    <div class="custom-col-6-5 text-center">
                        <a href="{% url 'main:user_login' %}" class="custom-btn">Login</a>
                        <a href="{% url 'main:register_user' %}" class="btn btn-link">Registration</a>
                    </div>
                </div>
                <div class="categories">
                    <ul class="category-list">
                        {% for category in category_list %}
                        <li><a href="#">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="custom-row" style="display: flex;">
        <section class="col-md-2 mt-2" aria-label="Sidebar" id="sidebar">
            <div class="position-sticky">
                <div class="ps-4">
                    <h2 class="profile-title">User profile</h2>
                    <div class="row row-cols-1 justify-content-center">
                        <div class="col d-flex justify-content-center">
                            <img src="{% static 'img/avatar.jpg' %}" alt="Avatar" class="avatar mt-3">
                        </div>
                    </div>
                    <p class="custom-p mt-4 text-center">Name: Denis</p>
                    <p class="custom-p text-center">Surname: Bezsmertniy</p>
                    <p class="custom-p text-center">Email: Ya_Ustal@gmail.com</p>
                </div>
            </div>
        </section>

        <div class="col-8 mt-2" style="order: 2;">
            {% block content %}

            {% endblock %}
        </div>
        <div class="col-1 mt-2" style="order: 3;">
            <nav class="nav">
                <ul>
                    <li><a href="{% url 'main:home_page' %}">Home</a></li>
                    <li><a href="{% url 'main:about' %}">About</a></li>
                    <li><a href="{% url 'main:article' 12 %}">Show article</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>
