{% extends "main/base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<h1 style="color: white">{{ article.title }} #{{article.pk}}</h1>
<p class="custom-p">
    {{ article.content }}
</p>
<p class="date">
    Published {{ article.created }} by {{ article.author }}
</p>
<h3><a href="{% url 'main:delete_article' article_id=article.pk %}">Delete this article</a></h3>
<h3><a href="{% url 'main:update_article' article_id=article.pk %}">Update this article</a></h3>
<div class="comment-form">
    <h1 style="color: white">Leave a Comment</h1>
    <form action="{% url 'main:comment_create' article_id=article.pk %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
</div>
{%for comment in comments%}
<div class="panel">
    <div class="panel-body">
        <div class="media-block">
            <a class="media-left" href="#">
                <img class="img-circle img-sm" src="https://bootstraptema.ru/snippets/icons/2016/mia/1.png">
            </a>
            <div class="media-body">
                <div class="mar-btm">
                    <a href="#" class="badge bg-primary text-wrap">{{ comment.author }}</a>
                    <p class="text-muted text-sm">{{ comment.created }}</p>
                </div>
                <p class="custom-p">{{ comment.message }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
